{% extends 'inventory/base.html' %}
<!-- Extends the base template from the "inventory" directory, ensuring consistent layout and style -->

{% block content %}
<!-- Defines a content block to insert specific content into the "base.html" template -->

<div>
    <!-- Main container for the content -->
    <div class="row">
        <!-- Creates a row for layout structure -->
        <div class="col-sm-11 col-md-4 mx-auto mt-5 px-3">
            <!-- Centers the content for small to medium screens, with top margin and horizontal padding -->

            <h1 class="fw-light">Track and Manage Your Inventory</h1>
            <!-- Main heading styled with a light font weight -->

            <p class="fw-light">Keep track of your inventory and receive quantity alerts for low inventory</p>
            <!-- A brief description with light font weight -->

            <div>
                <!-- Container for the "Get Started" button -->
                <a href="{% url 'dashboard' %}" class="btn btn-primary">Get Started Now!</a>
                <!-- Button linking to the dashboard page, styled as a primary Bootstrap button -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}
<!-- Ends the content block -->

